<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Page</title>
</head>
<body>
    <h1>Enter your details here:-</h1>
    <h2>Age</h2>
    <a href="{% url 'output_result' %}">Click Me</a>
    <!-- <form action="{% url 'output_result' %}">
        <input type="text" name="user_input">
        <button type="submit"><a href="{% url 'output_result' %}">Click me</a></button>
    </form> -->
</body>
</html>