<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Working</h1>
    <!-- <a href="{% url 'results' %}">Click for results</a> -->
    <p>Enter details of a passenger aboard the Ship.</p>
    <p>We shall let you know whether he/she/they made it. I know, it is dark.</p>

    <form action="{% url 'results' %}">
        <input type="text", name="age">
        <input type="submit">
    </form>

</body>
</html>