<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Working Directory</title>
</head>
<body>
    <h1>Task Items</h1>
    {% for task in all_items %}
        <p>{{task}}</p>
    {% endfor %}

    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <input type="text" name="task" placeholder="Enter Task Name..."><br>
        <input type="text" name="priority" placeholder="Enter Priority"><br>
        <input type="submit" value="Submit"><br>
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    </form>
</body>
</html>