body {
    padding: 25px;
    background-color: white;
    color: black;
    font: status-bar;
    font-size: 15px;
  }
  
/* Class mode. Create a separate class with the ( . ) symbol.
When one creates a class, the style of it can be applied to different elements. */
.dark-mode {
    background-color: grey;
    color: black
}

footer {
    background-color: aqua;
    font: status-bar;
    color: white;
    text-indent: left;
}

nav {
    background-color: aqua;
    font-size: 20px;
    font: status-bar;
}

table, td, tr{
    background-color: beige;
    border: 3px solid green;
}

p{
    font: status-bar;
    font-size: 20px;
    text-align: left;
    text-transform: capitalize;
    color: grey;
}

img {
    height: 25%;
    width: 25%;
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}


/*
Unlike a class, an ID is begun with #. It is used to format a specific entity
In this case, I just want to update the size of the image on the pre-history page.
*/
#prehistory-image{
    height: 15%;
    width: 15%;
}