body {
    padding: 25px;
    background-color: white;
    color: black;
    font: status-bar;
    font-size: 15px;
  }
  
  .dark-mode {
    background-color: grey;
    color: white;
  }

footer {
    background-color: black;
    font: status-bar;
    color: white;
}

nav {
    background-color: aqua;
    font-size: 20px;
    font: status-bar;
}

table, td, tr{
    background-color: beige;
    border: 3px solid green;
}

p{
    font: status-bar;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    color: grey;
}

img {
    height: 25%;
    width: 25%;
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}