nav{
    background-color: gray;
    padding: 10px;
}

a:link{
    text-decoration: none;
    color: white
}

a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: black;
    color:white;
    padding: 10px;
    text-decoration: underline;
}