body{
    background-color: burlywood;
    font: status-bar;
}

#money-image{
    border: 4px solid black;
    height: 400px;
    display: none;
}

button{
    font-size: large;
}

a:link {
    text-decoration: none;
}